<%= form_with(model: @proponent, url: proponents_path,  data: {turbo: false}) do |form| %>
  <% if proponent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(proponent.errors.count, "error") %> prohibited this proponent from being saved:</h2>

      <ul>
      <% proponent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :cpf %>
    <%= form.text_field :cpf, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :birthdate %>
    <%= form.date_field :birthdate, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :salary %>
    <%= form.text_field :salary, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :inss_discount %>
    <%= form.text_field :inss_discount, class: 'form-control' %>
  </div>

  <%= form.submit 'Save', class: 'btn btn-primary' %>
<% end %>