<style>
  .pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

.pagination {
    border-left: 1px solid #ddd;
    .first{
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }
    .last{
        padding : 0;
        float: none;
        border: none;
    }
}
</style>
<div class="container p-4">
  <h1>Funcion치rio</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Data de Nascimento</th>
        <th>Sal치rio</th>
        <th>Aliquota INSS</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @proponents.each do |proponent| %>
        <tr>
          <td><%= proponent.name %></td>
          <td><%= proponent.cpf %></td>
          <td><%= proponent.birthdate.strftime("%d/%m/%Y") if proponent.birthdate %></td>
          <td><%= number_to_currency(proponent.salary, unit: "R$", separator: ",", delimiter: ".") %></td>
          <td><%= number_to_currency(proponent.inss_discount, unit: "R$", separator: ",", delimiter: ".") %></td>
          <td>
            <%= link_to 'Editar', edit_proponent_path(proponent), class: 'btn btn-primary' %>
            <%= form_for(proponent, url: proponent_path(proponent), method: :delete, data: { confirm: 'Are you sure?' }) do |f| %>
              <%= f.submit 'Deletar', class: 'btn btn-danger', data: { disable_with: 'Deleting...' } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="container d-flex justify-content-center align-items-center" style="min-height: 10vh;">
    <%= paginate @proponents %>
  </div>
  <%= link_to 'Novo Funcion치rio', new_proponent_path, class: 'btn btn-success' %>
  <%= link_to 'Relat칩rio Faixa Salarial', proponents_report_path, class: 'btn btn-primary' %>
</div>